In [1]:
import pandas as pd

In [2]:
file_loc = LABEL_FILE_LOCATION = '/Users/johnmorin/Documents/GitHub/Obj-Det-Tutorial/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/images/train_labels.csv'

In [3]:
df = pd.read_csv(file_loc)

In [4]:
df.head()

          filename  width  height  class  xmin  ymin  xmax  ymax
0   cam_image1.jpg    480     270  queen   173    24   260   137
1   cam_image1.jpg    480     270  queen   165   135   253   251
2   cam_image1.jpg    480     270    ten   255    96   337   208
3  cam_image10.jpg    960     540    ten   501   116   700   353
4  cam_image10.jpg    960     540  queen   261   124   453   370

In [5]:
grouped = df['filename'].unique()
#print(grouped)

In [6]:
def class_text_to_int(row_label):
    if row_label == 'nine':
        return 1
    elif row_label == 'ten':
        return 2
    elif row_label == 'jack':
        return 3
    elif row_label == 'queen':
        return 4
    elif row_label == 'king':
        return 5
    elif row_label == 'ace':
        return 6
    else:
        return None

In [7]:
col_names = ['filename', 'width', 'height', 'label', 'xmin', 'ymin', 'xmax', 'ymax']

In [8]:
csv_df = pd.DataFrame()
for files in grouped:
    mydf = df[df['filename'] == files]
    #print(mydf.head())
    height = mydf['height'].unique()[0]
    width = mydf['width'].unique()[0]
    filename = mydf.filename.unique()[0]
    label = mydf['class'].tolist()
    #print(list(label))
    num_label = mydf['class'].map(class_text_to_int).tolist()
    xmin = mydf['xmin'].map(lambda x: x/width).tolist()
    ymin = mydf['ymin'].map(lambda x: x/height).tolist()
    xmax = mydf['xmax'].map(lambda x: x/width).tolist()
    ymax = mydf['ymax'].map(lambda x: x/height).tolist()
    temp = pd.DataFrame({'image/filename':filename, 'image/width':width, 'image/height':height, 
                         'image/object/class/label':[num_label], 'image/object/bbox/xmin':[xmin], 'image/object/bbox/ymin':[ymin], 
                        'image/object/bbox/xmax':[xmax], 'image/object/bbox/ymax':[ymax], 'image/object/class/text':[label]})
    csv_df = pd.concat([csv_df, temp])

In [9]:
csv_df.reset_index(inplace= True)
csv_df.drop('index', axis=1, inplace = True)

In [10]:
csv_df['image/format'] = 'jpg'

In [11]:
#csv_df.drop('level_0', axis=1, inplace = True)

In [12]:
csv_df.head(2)

,image/filename,image/height,image/object/bbox/xmax,image/object/bbox/xmin,image/object/bbox/ymax,image/object/bbox/ymin,image/object/class/label,image/object/class/text,image/width,image/format
0,cam_image1.jpg,270,"[0.5416666666666666, 0.5270833333333333, 0.702...","[0.36041666666666666, 0.34375, 0.53125]","[0.5074074074074074, 0.9296296296296296, 0.770...","[0.08888888888888889, 0.5, 0.35555555555555557]","[4, 4, 2]","[queen, queen, ten]",480,jpg
1,cam_image10.jpg,540,"[0.7291666666666666, 0.471875]","[0.521875, 0.271875]","[0.6537037037037037, 0.6851851851851852]","[0.21481481481481482, 0.22962962962962963]","[2, 4]","[ten, queen]",960,jpg

In [13]:
csv_df.to_csv('train_label_file.csv')
csv_df.to_json('train_label_file.json')

In [14]:
from pyspark.sql import Row, SparkSession
import pyspark.sql.functions
from pyspark.ml.image import ImageSchema
from pyspark.sql.functions import udf
from pyspark.sql.functions import *
from pyspark.sql.types import StringType, IntegerType, FloatType, ArrayType

In [15]:
spark = SparkSession.builder\
    .master("local[4]")\
    .appName("sql.functions tests")\
    .getOrCreate()
sc = spark.sparkContext

In [16]:
json_df = sqlContext.read.json('train_label_file.json')

In [17]:
json_df.show()

+--------------------+--------------------+--------------------+----------------------+----------------------+----------------------+----------------------+------------------------+-----------------------+--------------------+
|      image/filename|        image/format|        image/height|image/object/bbox/xmax|image/object/bbox/xmin|image/object/bbox/ymax|image/object/bbox/ymin|image/object/class/label|image/object/class/text|         image/width|
+--------------------+--------------------+--------------------+----------------------+----------------------+----------------------+----------------------+------------------------+-----------------------+--------------------+
|[cam_image1.jpg, ...|[jpg, jpg, jpg, j...|[270, 540, 540, 5...|  [[0.5416666667, 0...|  [[0.3604166667, 0...|  [[0.5074074074, 0...|  [[0.0888888889, 0...|    [[4, 4, 2], [2, 4...|   [[queen, queen, t...|[480, 960, 960, 3...|
+--------------------+--------------------+--------------------+----------------------+----------------------+----------------------+----------------------+------------------------+-----------------------+--------------------+

In [18]:
pand_df = sqlContext.createDataFrame(csv_df)

In [19]:
pand_df.printSchema()

root
 |-- image/filename: string (nullable = true)
 |-- image/height: long (nullable = true)
 |-- image/object/bbox/xmax: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/bbox/xmin: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/bbox/ymax: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/bbox/ymin: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/class/label: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- image/object/class/text: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- image/width: long (nullable = true)
 |-- image/format: string (nullable = true)

In [20]:
TRAINING_FILE_LOCATION = '/Users/johnmorin/Documents/GitHub/Obj-Det-Tutorial/TensorFlow-Object-Detection-API-Tutorial-Train-Multiple-Objects-Windows-10/images/train/*.jpg'

In [21]:
label_files = spark.read.format('csv') \
    .option("header", "true") \
    .option("inferSchema", 'true') \
    .load('train_label_file.csv')

In [22]:
image_df = spark.read.format('image').load(TRAINING_FILE_LOCATION)

In [23]:
image_df = image_df.withColumn('filename', image_df.image.origin.cast("string")[145:300])

In [24]:
combined_df = image_df.join(pand_df, \
                            image_df.filename == pand_df['image/filename'], \
                            'inner').drop(image_df.filename)

In [25]:
combined_df = combined_df.withColumn('image/source_id', combined_df['image'].origin)
combined_df = combined_df.withColumn('image/encoded', combined_df['image'].data)
combined_df = combined_df.drop('image')

In [26]:
#data_df = data_df.withColumn("Plays", data_df["Plays"].cast(IntegerType()))
#combined_df = combined_df.withColumn('image/object/bbox/xmax', combined_df['image/object/bbox/xmax'].cast(ArrayType(elementType=FloatType())))

In [27]:
combined_df.printSchema()

root
 |-- image/filename: string (nullable = true)
 |-- image/height: long (nullable = true)
 |-- image/object/bbox/xmax: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/bbox/xmin: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/bbox/ymax: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/bbox/ymin: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- image/object/class/label: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- image/object/class/text: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- image/width: long (nullable = true)
 |-- image/format: string (nullable = true)
 |-- image/source_id: string (nullable = true)
 |-- image/encoded: binary (nullable = true)

In [28]:
combined_df.count()

45

In [29]:
import tensorflow as tf
from object_detection.utils import dataset_util
from collections import namedtuple, OrderedDict
from pyspark.sql.types import *

In [30]:
combined_df.write.format('tfrecords').option('recordType', 'Example').save('pand_tf_train.record')

In [31]:
def create_tf_example(group, path):
    #with tf.gfile.GFile(os.path.join(path, '{}'.format(group.filename)), 'rb') as fid:
        #encoded_jpg = fid.read()
    #encoded_jpg_io = io.BytesIO(encoded_jpg)
    #image = Image.open(encoded_jpg_io)
    #width, height = image.size
    height = group.height[0]
    width = group.width[0]
    encoded_jpg = group.img_data[0]
    
    filename = group.filename.encode('utf8')
    image_format = b'jpg'
    xmins = []
    xmaxs = []
    ymins = []
    ymaxs = []
    classes_text = []
    classes = []

    for index, row in group.object.iterrows():
        xmins.append(row['xmin'] / width)
        xmaxs.append(row['xmax'] / width)
        ymins.append(row['ymin'] / height)
        ymaxs.append(row['ymax'] / height)
        classes_text.append(row['class'].encode('utf8'))
        # Changed to directly get class num from column
        classes.append(row['num_class'])

In [32]:
tf_rec = spark.read.format("tfrecords").option("recordType", "Example").load('pand_tf_train.record/part-r-00000')

In [33]:
tf_rec.printSchema()

root
 |-- image/object/class/text: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- image/width: long (nullable = true)
 |-- image/height: long (nullable = true)
 |-- image/object/bbox/ymax: array (nullable = true)
 |    |-- element: float (containsNull = true)
 |-- image/object/bbox/xmin: array (nullable = true)
 |    |-- element: float (containsNull = true)
 |-- image/filename: string (nullable = true)
 |-- image/format: string (nullable = true)
 |-- image/source_id: string (nullable = true)
 |-- image/object/class/label: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- image/encoded: string (nullable = true)
 |-- image/object/bbox/xmax: array (nullable = true)
 |    |-- element: float (containsNull = true)
 |-- image/object/bbox/ymin: array (nullable = true)
 |    |-- element: float (containsNull = true)